<!DOCTYPE html>
<html>
  <head>
    <title>InstantMessanger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag 'index' %>
    <style>
      body{
          margin: 0;
          padding: 0;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
